<a href="https://colab.research.google.com/github/hjae0520/class2022Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])         # -1 -> 0보다 뒤에 있는 것 = 마지막, -6하면 맨 처음 거
print(s[1:3], s[1:], s[:3], s[:])       # string과 list는 매우 유사, index할 때는 똑같음, :만 있을 때는 전부다, 1:3 = 1부터 3-1까지 (bc), '1:' 두번째부터, ':3' 2번째까지

a f f a
bc bcdef abc abcdef

In [2]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [3]:
len(s)

6

In [ ]:
s[1]+s[3]+s[4:]*10          # ef * 10번

'bdefefefefefefefefefef'

In [4]:
s.upper()   # 대문자, 괄호가 있다면 함수라고 추론할 수 있다.

'ABCDEF'

In [6]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

In [7]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found) 위의 문장에서 house의 h가 맨 처음 등장하는 위치 -> 0부터 시작해서 11번째에 등장한다
result

11

In [ ]:
result = s.find('this')	      # index of first instance of string t inside s (-1 if not found)
result

1

In [ ]:
s = s.strip()      	          # a copy of s without leading or trailing whitespace (문장부호나 스페이스 등)
s

'this is a house built this year.'

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default) 위의 문장을 ' ', 즉 빈칸을 중심으로 쪼개서 list로 만듦
tokens                        # string을 list로

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue, 위의 tokens들을 ' ', 빈칸을 넣어 하나의 string으로 만들어라
s

'this is a house built this year.'

In [ ]:
s = s.replace('this', 'that') # replace instances of t with u inside s
s

'that is a house built that year.'